In [1]:
# Mean without libraries
def my_mean(sample):
    return sum(sample) / len(sample)

print("The Mean is: ")
my_mean([4, 8, 6, 5, 3, 2, 8, 9, 2, 5])

The Mean is:

5.2

In [2]:
# Median without Libraries
n_num = [4,6,7,8,5]
n = len(n_num)
n_num.sort()
  
if n % 2 == 0:
    median1 = n_num[n//2]
    median2 = n_num[n//2 - 1]
    median = (median1 + median2)/2
else:
    median = n_num[n//2]
print("Median is: " + str(median))

Median is: 6

In [3]:
#Mode without libraries
arr = [0,3,4,4,5,7,6,]
n = len(arr)
arr.sort()

def mode(arr):
    if arr==[]:
        return None
    else:
        return max(set(arr), key=arr.count)

mode(arr)

4

# Iris Dataset

In [4]:
import pandas as pd
import seaborn as sns

In [5]:
df = sns.load_dataset('iris')

In [6]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
df.shape

(150, 5)

In [8]:
df1 = df['sepal_length']

In [9]:
df1

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [10]:
df1.mean()

5.843333333333334

In [11]:
df1.median()

5.8

In [12]:
# Mean without libraries
def my_mean(sample):
    return sum(sample) / len(sample)

print("The Mean is: ")
my_mean(df1)

The Mean is:

5.843333333333335

In [13]:
# Median without Libraries
n_num = df1.tolist()
n = len(n_num)
n_num.sort()


if n % 2 == 0:
    median1 = n_num[n//2]
    median2 = n_num[n//2 - 1]
    median = (median1 + median2)/2
else:
    median = n_num[n//2]
    
print("Median is: " , median)

Median is:  5.8

In [14]:
# Mode without Librires
n_num = df1.tolist()
n = len(n_num)
n_num.sort()

def mode(arr):
    if arr==[]:
        return None
    else:
        return max(set(arr), key=arr.count)

mode(n_num)

5.0

In [15]:
df1.mode()

0    5.0
dtype: float64